<h2><%= @user.name %> さんのプロフィール</h2>

<% if @user.avatar.attached? %>
<%= image_tag @user.avatar, size: "100x100", class: "rounded-circle" %>
<% else %>
<%= image_tag "default-avatar-image.png", size: "100x100", class: "rounded-circle" %>
<% end %>

<p><%= @user.profile.presence || "プロフィール未設定" %></p>

<% if @user == current_user %>
<%= link_to "プロフィールを編集", edit_user_path(@user) %>
<% end %>