<h1>施設一覧</h1>

<%= form_with url: search_rooms_path, method: :get, local: true do |f| %>
<div>
  <%= f.label :keyword, "キーワード検索" %>
  <%= f.text_field :keyword, placeholder: "施設名や住所を入力" %>
</div>

<div>
  <%= f.label :area, "エリア検索" %>
  <%= f.select :area, ["", "東京", "大阪", "京都", "札幌"], include_blank: "すべて" %>
</div>

<%= f.submit "検索" %>
<% end %>

<% @rooms.each do |room| %>
<div class="room">
  <h3><%= room.name %></h3>
  <p><%= room.description %></p>
  <p>料金: ¥<%= number_with_delimiter(room.price) %></p>
  <p>住所: <%= room.address %></p>
  <%= link_to "詳細を見る", room_path(room) %>
</div>
<% end %>