<h2>施設を登録する</h2>

<%= form_with(model: @room, local: true) do |f| %>
<div>
  <%= f.label :name, '施設名' %>
  <%= f.text_field :name, required: true %>
</div>

<div>
  <%= f.label :description, '施設の説明' %>
  <%= f.text_area :description, required: true %>
</div>

<div>
  <%= f.label :price, '料金' %>
  <%= f.number_field :price, required: true, min: 1 %>
</div>


<div>
  <%= f.label :image, '施設画像' %>
  <%= f.file_field :image %>
</div>

<%= f.submit '登録する' %>
<% end %>