<!DOCTYPE html>
<html>

<head>
  <title>ReservationApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'rooms', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'device', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header-menu">
      <div class="top-link-container">
        <%= link_to root_path, class: "top-link" do %>
        <span class="top-link-text">ReserveRoom</span>
        <% end %>
      </div>
      <% if user_signed_in? %>
      <div class="dropdown">
        <div class="profile-icon" id="profileDropdown">
          <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, size: "50x50", class: "rounded-circle" %>
          <% else %>
          <%= image_tag "default-avatar-image.png", size: "50x50", class: "rounded-circle" %>
          <% end %>
        </div>
        <div class="dropdown-content" id="dropdownMenu">
          <%= link_to "プロフィール", user_path(current_user) %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      </div>
      <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "login-text" %>
      <%= link_to "新規登録", new_user_registration_path, class: "header-button" %>
      <% end %>
    </div>
  </header>

  <%= yield %>
</body>

</html>